<h4 class="text-center text-black-50 py-2 my-2 header">Product detail</h4>
<div>
  <div class="border my-2 p-2">
    <h5 class="text-success text-center animated flipInY">
      {{ foundProduct?.link | replaceStringPipe: '-':' ' | titlecase }}
    </h5>
    <div class="row">
      <div class="col-md-6 p-5">
        <img class="img-fluid animated flipInX" loading="lazy" src="{{ foundProduct?.img_url }}" />
        <h5 class="text-success text-center animated bounceInLeft">Price: {{ foundProduct?.price }}</h5>
        <div class="circle-list">
          <span class="circle" placement="top" ngbTooltip="Add to cart"> <i class="fa fa-shopping-cart"></i></span>
          <span
            [hidden]="this.authenticationService.credentials"
            [class]="'circle-disabled'"
            placement="top"
            ngbTooltip="{{ foundProduct?.wishedby.length }}"
          >
            <app-ngbd-login-modal></app-ngbd-login-modal>
          </span>

          <span
            [hidden]="!this.authenticationService.credentials"
            [class]="service.isExistedInWishlist(foundProduct?.pid) ? 'circle-active' : 'circle'"
            (mouseenter)="service.getProductById(foundProduct.pid)"
            (click)="service.toggleWishlistButton2(this.service.editableUser?.uid, foundProduct?.pid)"
            placement="top"
            ngbTooltip="{{ foundProduct?.wishedby.length }}"
          >
            <i class="far fa-heart"></i>
          </span>
          <span class="circle" placement="top" ngbTooltip="Compare this product">
            <i class="fas fa-paperclip"></i>
          </span>
          <span class="circle" placement="top" ngbTooltip="Quick view">
            <i class="far fa-check-circle"></i>
          </span>
        </div>
      </div>
      <div class="col-md-6 p-5">
        <h6 class="animated bounceInRight">{{ foundProduct?.dsc }}</h6>
        <p class="animated bounceInRight">{{ foundProduct?.full_dsc }}</p>
      </div>
    </div>
  </div>
</div>
